.container {
    margin: 20px;
    border:solid 3px $white;
    border-radius: 7px;
    background-color: darken($color: $primary, $amount: 19);
    box-shadow: 1px 1px 24px $white;
    width: min-content;
}